# Ignore all files and directories, to make the images as clean as possible
*

# Allow the following files and directories
!/assets/**/*
!/build.rs
!/Cargo.toml
!/Cargo.lock
!/Dioxus.toml
!/LICENSE
!/README.md
!/packages/**/*
!/test_files/**/*
!/docker/**/*
