services:
  # ScyllaDB
  scylla-node1:
    container_name: scylla-node1
    image: scylladb/scylla:6.2
    restart: always
    command: --seeds=scylla-node1,scylla-node2 --smp 1 --memory 750M --overprovisioned 1 --api-address 0.0.0.0
    ports:
      - 9042:9042
    volumes:
      - "./docker/compose/scylla/scylla.yaml:/etc/scylla/scylla.yaml"
      - "./docker/compose/scylla/cassandra-rackdc.properties:/etc/scylla/cassandra-rackdc.properties"
    networks:
      web:
  scylla-node2:
    container_name: scylla-node2
    image: scylladb/scylla:6.2
    restart: always
    command: --seeds=scylla-node1,scylla-node2 --smp 1 --memory 750M --overprovisioned 1 --api-address 0.0.0.0
    ports:
      - 9043:9042
    volumes:
      - "./docker/compose/scylla/scylla.yaml:/etc/scylla/scylla.yaml"
      - "./docker/compose/scylla/cassandra-rackdc.properties:/etc/scylla/cassandra-rackdc.properties"
    networks:
      web:

networks:
  web:
    driver: bridge