@use "colors"

.sequence-block
    .sequence-block-src
        .sequence-block-src-row
            display: table-row

            .sequence-block-src-row-number
                display: table-cell
                // same font size as code elements
                font-size: 1 em
                background-color: darken(colors.$rub-gray, 10%)
                user-select: none

            code
                display: table-cell

            //For every odd code-block-row set the baackground color to rub-gray
            &:nth-child(odd)
                code
                    background-color: colors.$rub-gray